@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --prism-neutral-000: oklch(100% 0 0);
  --prism-neutral-025: oklch(97.75% 0 0);
  --prism-neutral-050: oklch(95.75% 0 0);
  --prism-neutral-075: oklch(93.5% 0 0);
  --prism-neutral-100: oklch(91.5% 0 0);
  --prism-neutral-150: oklch(87% 0 0);
  --prism-neutral-200: oklch(82.75% 0 0);
  --prism-neutral-300: oklch(74.25% 0 0);
  --prism-neutral-400: oklch(65.5% 0 0);
  --prism-neutral-500: oklch(56.75% 0 0);
  --prism-neutral-600: oklch(48.25% 0 0);
  --prism-neutral-650: oklch(44% 0 0);
  --prism-neutral-700: oklch(39.75% 0 0);
  --prism-neutral-800: oklch(31% 0 0);
  --prism-neutral-850: oklch(26.75% 0 0);
  --prism-neutral-900: oklch(22.5% 0 0);
  --prism-neutral-950: oklch(17.75% 0 0);
  --prism-neutral-999: oklch(0% 0 0);
  --prism-primary-050: oklch(95.695% 0.01472 244.63);
  --prism-primary-075: oklch(93.388% 0.02261 244.63);
  --prism-primary-100: oklch(91.236% 0.02997 244.63);
  --prism-primary-150: oklch(86.931% 0.04469 244.63);
  --prism-primary-200: oklch(82.472% 0.05994 244.63);
  --prism-primary-300: oklch(73.861% 0.08939 244.63);
  --prism-primary-350: oklch(69.556% 0.10411 244.63);
  --prism-primary-400: oklch(65.251% 0.11883 244.63);
  --prism-primary-450: oklch(60.945% 0.13356 244.63);
  --prism-primary-500: oklch(56.486% 0.14881 244.63);
  --prism-primary-550: oklch(52.95% 0.1609 244.63);
  --prism-primary-600: oklch(48.154% 0.14633 244.63);
  --prism-primary-650: oklch(43.933% 0.1335 244.63);
  --prism-primary-700: oklch(39.521% 0.12009 244.63);
  --prism-primary-900: oklch(22.446% 0.06821 244.63);
  --prism-secondary-050: oklch(95.637% 0.0051 80.105);
  --prism-secondary-100: oklch(91.273% 0.01021 80.105);
  --prism-secondary-200: oklch(82.944% 0.01995 80.105);
  --prism-secondary-300: oklch(74.154% 0.02938 79.418);
  --prism-secondary-500: oklch(56.576% 0.04822 78.043);
  --prism-secondary-800: oklch(31.244% 0.03225 78.022);
  --prism-secondary-900: oklch(22.317% 0.02304 78.022);
  --prism-negative-450: oklch(63.379% 0.18667 29.234);
  --prism-negative-550: oklch(55.401% 0.22734 29.234);
  --prism-positive-500: oklch(55.209% 0.15737 142.5);
  --prism-highlight-500: oklch(56.937% 0.11612 84.934);
  --prism-info-500: oklch(57.779% 0.22352 261.59);
  --prism-system-500: oklch(57.202% 0.17519 258.04);
  --background: var(--prism-neutral-075);
  --foreground: var(--prism-neutral-950);
  --card: var(--prism-neutral-050);
  --card-foreground: var(--prism-neutral-950);
  --popover: var(--prism-neutral-025);
  --popover-foreground: var(--prism-neutral-950);
  --primary: var(--prism-primary-550);
  --primary-foreground: var(--prism-neutral-000);
  --secondary: var(--prism-secondary-050);
  --secondary-foreground: var(--prism-secondary-900);
  --muted: var(--prism-neutral-050);
  --muted-foreground: var(--prism-neutral-650);
  --accent: var(--prism-neutral-400);
  --accent-foreground: var(--prism-neutral-950);
  --destructive: var(--prism-negative-550);
  --border: var(--prism-neutral-150);
  --input: var(--prism-neutral-200);
  --ring: var(--prism-primary-350);
  --chart-1: var(--prism-primary-500);
  --chart-2: var(--prism-info-500);
  --chart-3: var(--prism-positive-500);
  --chart-4: var(--prism-highlight-500);
  --chart-5: var(--prism-negative-550);
  --radius: 0.625rem;
  --sidebar: var(--prism-neutral-075);
  --sidebar-foreground: var(--prism-neutral-950);
  --sidebar-primary: var(--prism-primary-550);
  --sidebar-primary-foreground: var(--prism-neutral-000);
  --sidebar-accent: var(--prism-neutral-400);
  --sidebar-accent-foreground: var(--prism-neutral-950);
  --sidebar-border: var(--prism-neutral-150);
  --sidebar-ring: var(--prism-primary-350);
}

.dark {
  --background: var(--prism-neutral-950);
  --foreground: var(--prism-neutral-025);
  --card: var(--prism-neutral-900);
  --card-foreground: var(--prism-neutral-025);
  --popover: var(--prism-neutral-850);
  --popover-foreground: var(--prism-neutral-025);
  --primary: var(--prism-primary-350);
  --primary-foreground: var(--prism-neutral-950);
  --secondary: var(--prism-secondary-800);
  --secondary-foreground: var(--prism-neutral-025);
  --muted: var(--prism-neutral-800);
  --muted-foreground: var(--prism-neutral-300);
  --accent: var(--prism-neutral-600);
  --accent-foreground: var(--prism-neutral-025);
  --destructive: var(--prism-negative-450);
  --border: var(--prism-neutral-850);
  --input: var(--prism-neutral-700);
  --ring: var(--prism-primary-300);
  --chart-1: var(--prism-primary-500);
  --chart-2: var(--prism-info-500);
  --chart-3: var(--prism-positive-500);
  --chart-4: var(--prism-highlight-500);
  --chart-5: var(--prism-negative-550);
  --sidebar: var(--prism-neutral-900);
  --sidebar-foreground: var(--prism-neutral-025);
  --sidebar-primary: var(--prism-primary-350);
  --sidebar-primary-foreground: var(--prism-neutral-950);
  --sidebar-accent: var(--prism-neutral-600);
  --sidebar-accent-foreground: var(--prism-neutral-025);
  --sidebar-border: var(--prism-neutral-850);
  --sidebar-ring: var(--prism-primary-300);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .grid-cols-swatch {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  }

  .text-2xs {
    font-size: 0.625rem;
    line-height: 0.875rem;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  @media (pointer: coarse) {
    .touch-target {
      min-height: 44px;
      min-width: 44px;
    }
  }
}
